<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.c4d.dao.ProjectDAO">
	<select id ="getUserPJ" parameterType="string" resultType="Career_simple">
	 select 'project' as TYPE, project_title as Org, to_char(project_startdate,'yyyy-mm-dd') as Startdate,  to_char(project_enddate,'yyyy-mm-dd') as Enddate 
	 from project ,dual
	 where project_userid=#{id}
	</select>
</mapper> 
  
